.jc-head-content {
    background-image: url('../../images/jc-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 3% 0 5% 0;
    border-bottom: 1px solid #3a3a3a;
    border-radius: 0px 0px 30px 30px;
    box-shadow: #007ced 0px 1px 12px;
}
.jc-head-content p {
    font-size: 18px;
}
.jc-head-content h4 {
    font-size: 22px;
}

.jc-head-content h1 {
    margin: 0px;
    font-size: 50px;
    font-family: cursive;
}